.rightContainer {
    display: flex;
    flex-direction: column;
}

.recentMsgContainer {
    font-family: 'DM Sans', sans-serif;
    height: 60vh;
    background-color: #F7ECDC;
    padding: 1rem 1.25rem;
    overflow-y: scroll;
    list-style: none;
}


/* Scroll CSS */

.recentMsgContainer::-webkit-scrollbar {
    width: .6vw;
}

.recentMsgContainer::-webkit-scrollbar-track {
    border-radius: 6px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

.recentMsgContainer::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgb(197, 197, 197);
}
